
body {
    background-color: #8A05BE;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#valor {
    font-size: 48px;
    margin-bottom: 20px;
}

.botoes {
    display: flex;
    justify-content: center;
}

button {
    background-color: #7800A4;
    color: #fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
